 .nav-link {
      cursor: pointer;
    }
    .bodycolor{
      background:#222a34;
    }
   .textaling{
    text-align: start;
   }
  #hellobox{ 
   padding:5px 0 0 0;
   
 }
 #aling{
  padding:250px 0 0 0;
 }
#aling2{
  padding:200px 100px 0 100px;
}
#space{
  padding: 50px;;
}